h1{
    background-color: grey;
    text-align: center;
    color: whitesmoke;
    padding: 1.2em; 
}

/* Input CSS */

input{
    padding: .5em;
    width: 18%;
    background: white;
    border: 1px solid;
}

button {
    padding: .75em;
    width: 75px;
    background-color: lightgrey;
    border: 1px solid;
    border-radius: 8px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 12px;
    text-align: center;
}



/* Table CSS */

table{
    width: 100%;
    text-align: left;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    height: 2.15em;
}

th, td {
    padding: .5em;
    min-width: 3.5em;
}

thead {
    background: gray;
    color: black;
}

tbody tr:nth-child(odd) {
    background: white;
}

tbody tr:nth-child(even) {
    background-color: lightgray;
}

#delete-button {
    text-align: center;
}